@font-face {
    font-family: AgencyFB;
    src: url(fonts/Agency_FB.ttf);
}

body{
    background-color: black;
    padding:10px;
    font: 2em AgencyFB;
}

#title{
    white-space:nowrap;
    font-size: 2em;
}

#stats{   
}

.container{
    border:solid 1px rgb(139,211,251);
    color:rgb(139,221,251);
}