@font-face {
    font-family: AgencyFB;
    src: url(fonts/Agency_FB.ttf);
}

body{
    background-color: black;
    padding:10px;
    font: 2em AgencyFB;
    color: rgb(139,211,251);
}

#title{
    white-space:nowrap;
    font-size: 2em;
}



.hbar{
    padding: 4px;
    border: solid 1px rgba(139,211,251,0.3);
    border-radius: 0 10px 0 10px;
    background-color: rgba(139,211,251,0.3);
    margin: 4px;
    display: inline-block;
}


#stats{   
}

.container{
    /*border:solid 2px rgba(139,211,251,0.7);*/
    
}

.semiArc{
    margin:25px;
    float: left;
    border: 4px solid rgb(139,211,251);
    border-radius: 50%;
    height: 150px;
    width: 150px;
    border-top-color: transparent;
    transform: rotate(300deg);
    padding:4px;
    animation: rotation 30s infinite linear;
}

.circle{
    width: 134;
    height: 134px;
    border-radius: 100%;
    background:radial-gradient(rgba(139,211,251,0),rgba(139,211,251,0.3),rgb(139,211,251));
    left:50%;
}


@-webkit-keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}

@-webkit-keyframes rotationreverse {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(-359deg);
    }
}

.icon{
    max-width:100%;
    max-height:100%;
    animation: rotationreverse 30s infinite linear;
}

.hoverable{
    opacity: 0.9;
}

.hoverable:hover{
    opacity: 1;
}

.neon{
    
    font-size: 2em;
    color: #fff;
    margin: 4px;
    display: inline-block;
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon2 1.5s ease-in-out infinite alternate;
}



@-moz-keyframes neon2 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
    }
  }
